.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-shadow: rgba(12, 15, 20, 0.02) 0 0 0 1px, rgba(12, 15, 20, 0.06) 0 0 1px 0, rgba(12, 15, 20, 0.06) 0 2px 2px 0;
  width: 100%;
  border-radius: 4px;
  padding: 16px 24px;
}
