.container {
  padding-top: 4px;
  padding-bottom: 4px;
}

.login__card {
  max-width: 333px;
  margin: 0 auto;
}

.login__card__header {
  margin-bottom: 24px;
}

.login__card__title {
  margin: 0;
}

.login__button {
  height: 42px;
}
